.image-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr)
}


.image-wrapper {
  position: relative;
  margin: 3px;
  border: 2px solid #fff;
  cursor: pointer;
}

.image-wrapper:hover {
  opacity: 0.4;
}

.image-text-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 2px;
}


.image-title {
  font-size: 13px;
  font-weight: bold;
  margin-left: .2rem;
  transform: scale(0.9);
  transform-origin: left;
  white-space: nowrap;
}

.image-description {
  font-size: 13px;
  margin-left: .2rem;
  white-space: nowrap;
  transform: scale(0.85);
  transform-origin: left;
}

@media only screen and (max-width: 768px) {
  .image-container {
    grid-template-columns: repeat(4, 1fr)
  }

  .image-wrapper {
    margin: 0;
    border: 1px solid #fff;
  }

  .image-text-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0px;
    height: 1.6 rem;
  }

  .image-title {
    transform: scale(0.5);
    margin: 0%;
    margin-left: 0.2rem;
  }

  .image-description {
    display: none;
  }
}